<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blog Post</title>
</head>

<body class="body3">
    <h2>ブログタイトル</h2>

    <p>ブログ内容</p>

    <button>新規ブログ登録</button>
    <!-- <button class="apply_btn" onclick="location.href='/lesson/request'">購入</button> -->
    <form action="" method="post">
        <button>ブログ編集</button>
    </form>

    <form action="" method="post">
        <button>ブログ削除</button>
    </form>

</body>

</html>