<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Blog Website</title>
</head>

<body class="body2">
    <div class="tabs">
        <div class="tab">
            <button id="tabButton1" class="tabLinks" onclick="openTab(event, 'tab1')">Our Message</button>
        </div>
        <div class="tab">
			<button id="tabButton2" class="tabLinks" onclick="openTab(event, 'tab2')">All Blogs</button>
        </div>
        <div class="tab">
            <button id="tabButton3" class="tabLinks" onclick="openTab(event, 'tab3', '/new/blog')">New Blog</button>
        </div>
        <div class="tab">
            <button id="tabButton4" class="tabLinks" onclick="openTab(event, 'tab4', '/logout')">Log Out</button>
        </div>
    </div>

    <div id="tab1" class="tabContent">
        <h1>[[${username}]]さん、ようこそ！</h1>
    </div>

    <div id="tab2" class="tabContent">
        <ul class="blogList">
            <li th:each="blogEntity : ${blogPosts}">
                <a th:href="@{/blog/post/{blogId}(blogId=${blogEntity.blogId})}" th:text="${blogEntity.blogTitle}" target="_blank"></a>
            </li>
        </ul>
    </div>

    <div id="tab3" class="tabContent"></div>

    <div id="tab4" class="tabContent"></div>

    <script th:src="@{/code.js}"></script>

</body>

</html>