<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>Blog Post</title>
</head>

<body class="body3">
	<h1>[[${blogId.blogTitle}]]</h1>

	<p>[[${blogId.blogContent}]]</p>
	<p>読者数: [[${blogId.readCount}]]</p>

	<div class="actionButtons">
		<div><button th:attr="onClick='location.href=\''+'/edit/'+${blogId.blogId}+'\''">編集</button></div>
		<div>
			<form th:action="@{/delete}" method="post">
				<input type="hidden" name="blogId" th:value="${blogId.blogId}">
				<button type="submit">削除</button>
			</form>
		</div>
	</div>

</body>

</html>