<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blog Website</title>
</head>

<body class="body2">
    <!-- <h1><span></span>さん、ようこそブログサイトへ！</h1>
    <div>
        <h2>All Blogs</h2>
        <ul class="blogList">
            <li th:each="blogEntity : ${blogPosts}">
				<a th:href="@{/blog/{blogId}(blogId=${blogEntity.blogId})}" th:text="${blogEntity.blogTitle}" target="_blank"></a>
			</li>
        </ul>
    </div>
    <div>
        <h2>New Blog</h2>
        <a href="new-blog.html" target="_blank">新しいブログを書く</a>
    </div>
    <button>ログアウト</button> -->

    <div class="tabs">
        <div class="tab">
            <button id="tabButton1" class="tabLinks" onclick="openTab(event, 'tab1')">Our Message</button>
        </div>
        <div class="tab">
            <button id="tabButton2" class="tabLinks" onclick="openTab(event, 'tab2')">All Blogs</button>
        </div>
        <div class="tab">
            <button id="tabButton3" class="tabLinks" onclick="openTab(event, 'tab3')">New Blog</button>
        </div>
        <div class="tab">
            <button id="tabButton4" class="tabLinks" onclick="openTab(event, 'tab4')">Log Out</button>
            <!-- <button th:attr="onClick='location.href=\''+'/lesson/cart/delete/'+${lesson.lessonId}+'\''">削除</button> -->
            <!-- <button class="apply_btn" onclick="location.href='/lesson/request'">購入</button> -->
        </div>
    </div>

    <div id="tab1" class="tabContent">
        <h1><span></span>さん、ようこそ！</h1>
    </div>

    <div id="tab2" class="tabContent">
        <ul class="blogList">
            <li th:each="blogEntity : ${blogPosts}">
                <a th:href="@{/blog/{blogId}(blogId=${blogEntity.blogId})}" th:text="${blogEntity.blogTitle}" target="_blank"></a>
            </li>
            <li>111</li>
            <li>222</li>
        </ul>
    </div>

    <div id="tab3" class="tabContent">
        <a href="new_blog.html" target="_blank">新しいブログを書く</a>
    </div>

    <div id="tab4" class="tabContent">
        <button>ログアウト</button>
    </div>

    <script src="code.js"></script>

</body>

</html>