<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Edit Blog</title>
</head>

<body class="body3">
    <h1>Edit Blog</h1>

    <form class="newBlog" th:action="@{/edit/blog}" method="post">
        <label for="title" class="newBlogLabel">タイトル:</label><br>
        <textarea id="title" rows="1" cols="100" name="blogTitle" th:text="${blogId.blogTitle}" required></textarea><br><br>

        <label for="content" class="newBlogLabel">内容:</label><br>
        <textarea id="content" rows="20" cols="100" name="blogContent" th:text="${blogId.blogContent}" required></textarea><br><br>

        <button>保存</button>
    </form>
</body>

</html>