<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Register</title>
</head>

<body class="body1">
    <h1>Register</h1>
    <form th:action="@{/register/process}" method="post">
        <table class="inputTable">
            <tr>
                <td class="item">Username:</td>
            </tr>
            <tr>
                <td><input type="text" id="name" name="username" placeholder="ユーザー名を入力" required></td>
            </tr>
            <tr>
                <td class="item">Email:</td>
            </tr>
            <tr>
                <td><input type="text" id="email" name="email" placeholder="e-mailを入力" required></td>
            </tr>
            <tr>
                <td class="item">Password:</td>
            </tr>
            <tr>
                <td><input type="password" id="password" name="password" placeholder="パスワード入力" required></td>
            </tr>
            <tr>
                <td class="item">Repeat Password:</td>
            </tr>
            <tr>
                <td><input type="password" id="repeatPassword" name="repeatPassword" placeholder="パスワード再入力" required></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="terms" name="terms" required><a
                        href="https://policies.google.com/privacy?hl=en-US" target="_blank">Terms &amp; Privacy</a>
                    を読んで同意して下さい
                </td>
            </tr>
            <tr>
                <td class="button1">
                    <button id="register">Register</button>
                </td>
            </tr>
        </table>

        <p>Already have an account? <span><a th:href="@{/login}" target="_blank">Sign in</a></span>.</p>

    </form>
</body>

</html>